.result-table {
  border-collapse: collapse;
  width: 50%;
}
.result-table th,
.result-table td {
  padding: 5px 20px;
}
.result-table th {
  /* background-color: #f4f4f4; */
  font-weight: bold;
}
.result-table td {
  text-align: left;
  font-weight: bold;
}

.result-screen .buttons {
  flex: 0 1 auto;
  display: flex;
  justify-content: space-between;
}
